<h1 id="tableLabel">Products</h1>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th (click)="sortAscending('0')">Name</th>
      <th (click)="sortAscending('1')">Price</th>
      <th (click)="sortAscending('2')">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products ; let i=index;"
        [ngStyle]="product.quantity > 3 ? {'background-color':'red'} : ''">
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency:'USD'}}</td>
      <td >{{ product.quantity }}</td>
    </tr>
  </tbody>
</table>



